/* &display=swap&subset=cyrillic-ext */


@import url('https://fonts.googleapis.com/css?family=Noto+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap&subset=cyrillic-ext');

@import url('https://fonts.googleapis.com/css?family=Dancing+Script:regular,500,600,700&display=swap&subset=cyrillic-ext');

*,
*::before,
*::after{
    border: 0;
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a,
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-size: inherit;
    font-weight: inherit;
}
img{
    vertical-align: none;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header{
    flex: 0 1 auto;
}
.main{
    flex: 1 1 auto;
    padding: 25px;
}
.footer{
    flex: 0 1 auto;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 120%;
    font-family: "Noto Sans";
}
/* ---------------------- */
.header__title div{
    font-size: 50px;
    border: #4e4d4d solid 3px;
    border-radius: 20px;
    padding: 40px;
    color: #808080;
}
.header{
    text-align: center;
    background: #29292b;
    margin-bottom: 20px;
}
body{
    background: #a3a2a2;
}
.header__title{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head1{
    flex: 1 1 auto;
    font-size: 18px;
    font-style: italic;
    line-height: 130%;
}
#span1{
    font-size: 28px;
}
.span1{
    font-size: 28px;
}

.item1{
    display: flex;
    font-weight: 700;
    font-style: italic;
}
.item1 img{
    flex: 1 1 auto;
    max-height: 500px;
}
.item2{
    font-size: 18px;
    line-height: 130%;
    font-weight: 700;
    text-shadow: 3px 3px 8px #29292b;
}
.span__text{
    text-transform: capitalize;
    color: #ddb76a;
}
.span__text2{
    text-transform: lowercase;
    color: #9b1a1a;
}
.span__text2 i{
    color: #ff6347;
    font-size: 25px;
    text-decoration: underline;
}
.span__text i{
    color: #ffa600;
    font-size: 25px;
    text-decoration: underline;
}
.span__text3{
    color: #137913;
    text-shadow: 3px 3px 5px #0df30d;
    text-transform: uppercase;
}
.span__text3 i{
    color: #09f509;
    font-size: 25px;
    text-decoration: underline;
}
.span__text4{
    font-family: "Dancing Script";
    color: #52235e;
    text-shadow: #87299e 3px 3px 10px;
    letter-spacing: 2px;
    word-spacing: 10px;
    font-style: italic;
}
.span__text4 i{
    color: #780994;
    font-size: 25px;
    text-decoration: underline;
}